/* .menu-nav {
    width: 100%;
    background-color: black;
    padding: 10px 0px;
}

.menu-nav-button {
    font-size: 1.0rem;
} */

.menu-nav-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu-nav {
    width: 100%;
    background-color: black;
    padding: 10px 0px;
    transition: background-color 0.3s ease-in-out;
    z-index: 0;
}

.menu-nav.sticky {
    position: sticky;
    /* top: 0px; */
    top: 85px;
    /* bottom: 10; */
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
}

.up {
    /* top: 92px; */
}

.menu-nav-button {
    width: 140px;
    font-size: 0.9rem;
    border: 2px solid white;
}

.menu-nav-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* max-width: 700px; */
}

.first-two-menu-buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 5px;
}

.second-two-menu-buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* margin-bottom: 5px; */
}

@media screen and (max-width: 600px) {
    .menu-nav-button {
        width: 113px;
        font-size: 0.76rem;
        padding-left: 5px;
        padding-right: 5px;
    }

    .food-nav-button {
        width: 115px;
    }
}

@media screen and (min-width: 495px) {
    .menu-nav.sticky {
        top: 80px;
    }
}

@media screen and (max-width: 495px) {
    .menu-nav.sticky {
        top: 63px;
    }
}

@media screen and (max-width: 391px) {
    .menu-nav.sticky {
        top: 80px;
    }
}
