.hero-section {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    margin: auto;
    width: 91%;
    max-width: 800px;
    /* padding: 10px; */
    /* margin-top: 60px; */
}

.nav-placeholder {
    height: 73px !important;
}

.hero-header-section {
    color: black;
}

/* for overlay and gradient */
.hero-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 1.0) 40%, rgba(0, 0, 0, 0));
    z-index: 1;
    position: absolute;
    bottom: 0%;
    text-align: center;
    color: white;
    width: 100%;
}

.overlay {
    color: white !important;
}

/* .hero-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0%;
    text-align: center;
    color: black;
} */

.hero-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    position: relative;
}

.hero-contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding: 10px; */
    width: 100%;
}

.hero-background {
    height: auto;
    width: 100%;
}

/* .hero-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: relative;
}

.hero-text-section,
.hero-contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} */

.hero-descriptions-container {
    padding: 10px;
    padding-bottom: 0px;
    line-height: 2.0rem;
}

.description {
    margin-top: 10px;
    margin-bottom: 0px;
}

.description-hours {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px;
    padding-bottom: 0px;
}

.description-hours-bottom {
    padding-top: 0px;
    padding-bottom: 10px;
}

.contact-information {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero-address,
.hero-phone,
.hero-facebook {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-map-icon,
.hero-phone-icon,
.hero-facebook-icon {
    /* margin-top: 10px !important; */
    margin-right: 5px;
    height: 25px;
    width: auto;
}

.hero-map-icon {
    /* margin-top: 10px; */
}

.hero-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 0px;
    margin-top: 0px;
}

.view-services-hero,
.view-reviews-hero,
.leave-review-hero {
    font-size: 1.1rem;
    width: 220px;
}

.view-reviews-hero {
    margin-top: 5px;
    margin-bottom: 5px;
}

.title,
.location {
    color: black;
    font-family: 'Vollkorn SC', serif;
}

.title {
    font-size: 3.6rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.location {
    margin-top: 0px;
    font-size: 2.3rem;
    margin-bottom: 10px;
}

.language-toggle-button {
    font-size: 1.1rem;
    /* width: 200px; */
}

.section-below-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.welcome {
    font-family: 'Vollkorn SC', serif;
    font-size: 2.0rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 495px) {
    .nav-placeholder {
        height: 95px !important;
    }
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 2.6rem;
    }

    .location {
        font-size: 2.1rem;
    }
}

@media screen and (max-width: 530px) {
    .title {
        font-size: 2.0rem;
    }

    .location {
        font-size: 1.5rem;
    }
}
