/* .menu-nav {
    width: 100%;
    background-color: black;
    padding: 10px 0px;
}

.menu-nav-button {
    font-size: 1.0rem;
}

.menu-nav-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */

.menu-nav {
    width: 100%;
    background-color: black;
    padding: 10px 0px;
    transition: background-color 0.3s ease-in-out;
    z-index: 0;
}

.menu-nav.sticky {
    position: sticky;
    /* top: 0px; */
    top: 92px;
    /* bottom: 10; */
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
}

.up {
    /* top: 92px; */
}

.menu-nav-button {
    font-size: 1.0rem;
}

.menu-nav-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* max-width: 700px; */
}
