.drink-section {
    /* background-color: #ffffff; */
    /* background-color: rgb(255, 238, 206); */
    border: 2px solid black;
    margin: 10px;
}

.drink-warning {
    display: flex;
    justify-content: center;
    text-align: center;
    /* font-style: italic; */
}