.first-three-menu-nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5px;
}

.second-three-menu-nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.drink-nav-options {
    flex-direction: column;
}

.drink-nav-button {
    width: 150px;
}
