body {
  margin: 0;
  /* font-family: 'Alegreya', serif; */
  font-family: 'Inknut Antiqua', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222222;
  /* background-color: #e06556; */
  /* background-color: #c6133e; */
  background-color: #fff8e9;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  font-family: 'Inknut Antiqua', serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

/* red color from maido: #c6133e
black: #000000
white: #ffffff

orange scarlety from quintonil: #e06556

dark brown from chipotle: #441500
brick red from chipotle: #ac2318

text color: #444444
text color: black
cream beige currently from SF: #fff8e9
bright green from SF: #368c00
orange highlight from SF: #ff8427
gold from SF: #ffc800
gray from squarespace template site (that also uses Inknut!): #38383b
 */

button {
  border: 2px solid black;
  /* border: 2px solid #c6133e; */
  /* background-color: #fff8e9; */

  background-color: #c6133e;
  color: #222222;
  color: white;

  padding: 0px 10px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.7s all;
  font-family: 'Inknut Antiqua', serif;
  /* font-family: 'Vollkorn SC', serif; */
}

/* <div> Icons made by <a href="https://www.freepik.com" title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div> */

button:hover {
  color: #222222;
  background-color: #ffc800;
  /* border: 2px solid black; */
  cursor: pointer;

  /* color: white; */
  /* background-color: #222222; */

  /* background-color: #c6133e; */
  /* background-color: #ffc800; */
  /* color: black; */
  /* color: #ffc800; */
}

.inknut {
  font-family: 'Inknut Antiqua', serif;
  /* font-weight: lighter; */
}
